<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<title>Feature Case Status</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<style>
	body{ font-family: "微软雅黑"}
	</style>

	<table borde="0">
		<thead>
			<tr>
				<th>Backlog ID</th>
				<th>End FB</th>
				<th>Case Name</th>
				<th>Case Tag</th>
				<th>QC Status</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(len) %}
			<tr>
				<td>{{ list1[i] }}</td>
				<td>{{ list2[i] }}</td>
				<td>{{ list3[i] }}</td>
				<td>{{ list4[i] }}</td>
				<td>{{ list5[i] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
