<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB Effort</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/home/ute/zhanghao/Python_Flask/icon.png" type="image/x-icon"/>
</head>
<body>
<style>
body{ font-family: "微软雅黑"}
</style>

<h1>FB Effort</h1>

<h2>FB Effort Per Team</h2>
{{ total|safe }}
<h3> Current FB: Origin Effort and Remaining Effort, Future FB: only Remaining Effort
    <br> FB=End FB, Effort=Remaining Effort(h)
</h3>

<h2>FB Effort Per Team Percentage</h2>
{{ percentage|safe }}
<h3> Percentage = Remaining Effort / Team Capacity
</h3>

<h2>Team Info</h2>
{{ squad|safe }}
<h3> Team Capacity=HC*60h-SM*20h-TO*15h (20h: SM, 15h: Test Owner)
    <br> New comer included
</h3>

<h2>FB Effort -- Blues</h2>
{{ total_blues|safe }}

<h2>FB Effort -- Jazz</h2>
{{ total_jazz|safe }}

<h2>FB Effort -- Rock</h2>
{{ total_rock|safe }}

<h2>FB Effort -- Shield</h2>
{{ total_shield|safe }}


<h3><a href="https://jiradc.ext.net.nokia.com/issues/?filter=332653" target="_blank">Jira filter link</a>
</h3>

</body>
</html>
