<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB Effort</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<style>
body{ font-family: "微软雅黑"}
</style>

<h1>FB Effort</h1>

<h2>FB Effort Per Team</h2>
{{ total|safe }}

<h2>FB Effort Per Team Percentage</h2>
{{ percentage|safe }}

<h3><a href="https://jiradc.ext.net.nokia.com/issues/?filter=332653" target="_blank">Jira filter link</a>
<br>Jazz HC=8, Blues HC=8, Squad C HC=8, Rock HC=7, Shield HC=7
<br>FB=End FB, Effort=Remaining Effort(h), Team Capacity=HC * 120h
</h3>

</body>
</html>
