body {
    padding: 20px;
}

a, h1, h2, h3 {
    color: #4472c4;
}

h1 {
    border-bottom: 2px solid #a5d3ee;
    margin-top:0
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
    font-weight:normal
}

table.dataframe,  .dataframe th,  .dataframe td {
    border-bottom: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: left;
    padding: 9px;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.total th{
    background-color: #4472c4;
    color: white;
}

.percentage th {
    background-color: #4472c4;
    color: white;
}

.star th {
    background-color: #4472d7;
    color: white;
}

.team th {
    background-color: #4472d7;
    color: white;
}

tr:nth-child(odd){
    background-color: #bdd7ee;
}

tr:nth-child(even){
    background-color: #ffffff;
}

tr:hover {
    background-color: #fff2cc;
}
